/*!
 * Theme Name:            UWDGH | UW WordPress Child Theme
 * Theme URI:             https://bitbucket.org/uwdgh_elearn/uwdgh_wp_theme
 * Bitbucket Theme URI:   https://bitbucket.org/uwdgh_elearn/uwdgh_wp_theme
 * Author:                Department of Global Health web team - University of Washington
 * Author URI:            https://depts.washington.edu/dghweb/
 * Description:           UW WordPress child theme branded for Department of Global Health affiliated websites.
 * Template:              uw_wp_theme
 * Version:               3.3.1.14
 * License:               GNU General Public License v3 or later
 * License URI:           https://www.gnu.org/licenses/gpl-3.0.html
 * Tags:                  two-columns, right-sidebar, responsive-layout, accessibility-ready, translation-ready
 * Text Domain:           uwdgh_wp_theme */
/* hero default */
.uw-hero-image .uw-site-title {
  text-transform: none;
}
.uw-hero-image.hero-heightjumbo #banner {
  background: rgba(255, 255, 255, 0.9);
  color: #373a3c;
  display: inline-block;
  font-weight: 600;
}
@media (min-width: 992px) {
  .uw-hero-image.hero-heightjumbo #banner {
    margin-left: -1rem;
  }
}
.uw-hero-image.hero-heightjumbo .jumbo .transparent-overlay {
  background: rgba(75, 46, 131, 0.9);
}
.uw-hero-image.hero-heightjumbo .jumbo h1,
.uw-hero-image.hero-heightjumbo .jumbo .jumbo-subhead {
  background: none;
}
.uw-hero-image.hero-heightjumbo .btn {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .uw-hero-image.hero-heightjumbo .btn {
    margin-left: -1rem;
  }
}
.uw-hero-image.hero-heightjumbo #hashtag {
  position: absolute;
  top: 0px;
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  color: #4b2e83;
  font-size: 21px;
  overflow: hidden;
  z-index: 100;
  margin-left: -1rem;
}
.uw-hero-image.hero-heightjumbo #hashtag span {
  background-color: rgba(255, 255, 255, 0.9);
  transform: skew(-15deg, 0);
  padding: 2px 25px 3px 28px;
  display: block;
  margin: 0 10px 0 -1rem;
}
.uw-hero-image.hero-heightjumbo #hashtag span span {
  transform: skew(15deg, 0);
  display: block;
  background-color: transparent;
}
@media (max-width: 767px) {
  .uw-hero-image.hero-heightjumbo #hashtag {
    position: relative;
  }
}

/* large hero title */
.uw-hero-image.hero-height h1.uw-site-title,
.no-uw-hero-image.hero-height h1.uw-site-title {
  text-transform: none;
}
@media (min-width: 768px) {
  .uw-hero-image.hero-height h1,
  .no-uw-hero-image.hero-height h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .uw-hero-image.hero-height #hashtag,
  .no-uw-hero-image.hero-height #hashtag {
    position: relative;
  }
}

/* small hero title */
.hero-height2 h1 {
  text-transform: none;
}
@media (max-width: 767px) {
  .hero-height2 #hashtag {
    position: relative;
  }
}

/* jumbo hero title */
.uw-hero-image.hero-heightjumbo .jumbo h1 {
  text-transform: none;
}

/* header */
@media (max-width: 320px) {
  header.site-header div.navbar .site-branding .uw-patch {
    display: none;
  }
}
@media (max-width: 576px) {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("assets/img/DeptGlobalHealth_DeptSigs-Stack-White_wp-theme.png") no-repeat 0 0 transparent;
    background-size: contain;
    width: 150px;
    height: 45px;
    top: 5px;
    left: 0;
    transform: none;
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("assets/img/DeptGlobalHealth_DeptSigs-Left-White_wp-theme.png") no-repeat 0 0 transparent;
    background-size: contain;
    width: 360px;
    height: 45px;
    top: 5px;
    left: 5px;
    transform: none;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("assets/img/DeptGlobalHealth_DeptSigs-UWStack-White_wp-theme.png") no-repeat 0 0 transparent;
    background-size: contain;
    width: 320px;
    height: 75px;
    top: 2px;
    left: 15px;
    transform: none;
  }
}
@media (min-width: 1400px) {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("assets/img/DeptGlobalHealth_DeptSigs-UWLeft-White_wp-theme.png") no-repeat 0 0 transparent;
    background-size: contain;
    width: 560px;
    height: 90px;
    top: 10px;
    left: 15px;
    transform: none;
  }
}

/* footer */
footer.site-footer a.footer-wordmark {
  background: url("assets/img/UW-DGH-logo-reversed-centered.png") no-repeat 0 0 transparent;
  height: 100px;
  background-size: 335px;
}
@media (min-width: 400px) {
  footer.site-footer a.footer-wordmark {
    width: 395px;
    background-size: 395px;
  }
}
footer.site-footer a.footer-wordmark:hover {
  background: url("assets/img/UW-DGH-logo-reversed-centered.png") no-repeat 0 0 transparent;
  height: 100px;
  background-size: 335px;
}
@media (min-width: 400px) {
  footer.site-footer a.footer-wordmark:hover {
    width: 395px;
    background-size: 395px;
  }
}
footer.site-footer ul.footer-links li a {
  text-decoration: none;
}
footer.site-footer ul.footer-links li a:hover {
  text-decoration: underline;
}
footer.site-footer ul.footer-social {
  padding: 0;
  margin-left: 1em;
}
footer.site-footer ul.footer-social li a.smugmug {
  background: url("assets/svg/smugmug-uw-white.svg") no-repeat 0 1.5px transparent;
}
footer.site-footer ul.footer-social li a:hover.smugmug, footer.site-footer ul.footer-social li a:focus.smugmug {
  background: url("assets/svg/smugmug-brand.svg") no-repeat 0 1.5px transparent;
}

/* sticky header */
#page.site.site--sticky-header {
  overflow-x: clip;
}
@media (min-width: 768px) {
  #page.site.site--sticky-header.site--sticky-header-sm {
    overflow-x: hidden;
  }
}
#page #uw-wp-child-theme-sticky-header {
  position: sticky;
  z-index: 999;
  top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
@media (max-width: 767px) {
  #page.site.site--sticky-header-sm {
    overflow-x: clip;
  }
  #page #uw-wp-child-theme-sticky-header-sm {
    position: sticky;
    z-index: 999;
    top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}/*# sourceMappingURL=style.dev.css.map */